html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  line-height: 1.6;
}

main {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
  position: relative;
  width: 100%;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

h2 {
  color: #333;
}

#blog-posts li {
  list-style: none;
  margin-bottom: 10px;
}
