html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  line-height: 1.6;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

#blog {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
}

#about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

#home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
  position: relative;
  width: 100%;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

h2 {
  color: #333;
}

#blog-posts li {
  list-style: none;
  margin-bottom: 10px;
}

.profile-picture {
  display: block;
  margin: 0 auto 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
